body {
    margin: 0;
}

#header {
    background: #3d3e46;
    width: 1125px;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    width: 100%;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

#header__logo {
    width: 225px;
    height: 295px;
    transform: translateY(35%);
    z-index: 1;
}

.header__title {
    color: #c69d4a; 
    margin: 0 2rem; 
    font-family: Centre Gothics, sans-serif;
    display: none;
}

.header__image {
    width: 4rem;
    height: 4rem;
}

.button__menu button {
    width: 4.5rem;
    height: 3.5rem;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

.line {
    position: relative;
    width: 3rem;
    height: 0.1rem;
    background: white;
    border: 2px solid white;
    border-radius: 0.5rem;
}

.button__menu button:focus {
    outline: none;
    cursor: pointer;
}

.seti {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seti img {
    margin: 0 1rem;
}

@media (min-width: 70.4rem) {
    #header {
        width: 100%;
        height: 6rem;
    }
    
    .header__title{
        display: block;
    }

    #header__logo {
        transform: translateY(15%);
        margin-right: 0;
    }

    .header__items {
        justify-content: space-around;
        margin: 0;
    }

    .header__item {
        justify-content: space-evenly;
        width: 50%;
    }

    .button__menu button {
        width: 2.5rem;
        height: 2rem;
    }

    .header__image {
        width: 36px;
        height: 36px;
    }

    #header__logo {
        width: 8.5rem;
        height: 10rem;
    }

    .header__item {
        width: 40%;
    }

    .button__menu button {
        width: 3.5rem;
        height: 2.5rem;
    }

    .line {
        width: 3rem;
    }
}

#sec-1 {
    width: 1125px;
    height: 1880px;
    background: url("images/lucas-franco-aRTjFXs6HNc-unsplash.jpg") left 10% bottom 100% / cover no-repeat border-box;
    /* background-attachment: fixed; */
    position: relative;
    left: 0;
    top: 0;
}

@media (min-width: 70.4rem) {
    #sec-1 {
        width: 100%;
        height: 657px;
    }
}

#sec-2 {
    width: 1125px;
    height: 1180px;
    background: #dbcdbd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 30px solid #ad842e;
}

.sec-2__up--title {
    display: block;
    font-family: Centre Gothics, sans-serif;
    font-size: 6rem;
    color: #8c6f30;
}

.sec-2__item--top {
    width: 100%;
    background: #dbcdbd;
    border-radius: none;
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sec-2__item--top input {
    margin-right: 0;
    margin-bottom: 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 4rem;
    width: 790px;
    height: 105px;
    padding: 1rem;
}

.btn {
    width: 790px;
    height: 105px;
    background: #3c3c3e;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: Centre Gothics, sans-serif;
    position: relative;
    overflow: hidden;
    font-size: 4rem;
}

.btn::before {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-3.5rem) skewX(-45deg);
}

.btn:hover::before{
    animation: line 1s ease;
}

.title__about {
    display: none;
    font-family: Centre Gothics, sans-serif; 
    color: #c69d4a;
}

@keyframes line {
    from {
        transform: translateX(-3rem) skewX(-45deg);
    }

    to {
        transform: translateX(20rem) skewX(-45deg);
    }
}

.btn:focus,
.sec-2__item--top input:focus {
    outline: none;
}

#sec-2 hr {
    display: none;
    width: 75%;
    background: #a29fa3;
    border: 0.5px solid #a29fa3;
    transform: translateY(-2rem);
}

@media (min-width: 70.4rem) {
    #sec-2 {
        width: 100%;
        height: 267px;
        border: none;
    }

    .sec-2__item--top {
        width: 1200px;
        height: 132px;
        background: #38363a;
        border-radius: 0.8rem;
        transform: translateY(-25%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #sec-2 hr {
        display: block;
    }

    .title__about {
        display: block;
    }

    .sec-2__item--top input {
        margin-right: 2rem;
        width: 262px;
        height: 50px;
        border-radius: 0;
        padding: 0;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .btn {
        width: 262px;
        height: 50px;
        background: #c69d4a;
        font-size: 1.1rem;
        border-radius: 0.5rem;
    }

    .btn::before {
        display: block;
    }

    .sec-2__up--title {
        display: none;
    }
}

#sec-3 {
    width: 1125px;
    height: 1978px;
    background: radial-gradient(rgba(54, 52, 56, 0.6), rgba(54, 52, 56, 0.6)), url("images/chris-panas-Hef0SOqVsCg-unsplash.jpg") right 100% bottom 50% / cover no-repeat border-box;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#sec-3 p {
    display: none;
    color: white; 
    width: 55%;
}

.sec-3__about--title {
    display: block;
    font-family: Centre Gothics, sans-serif;
    font-size: 5rem;
    color: #dbcdbd;
}

.sec-3__up--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sec-3__up--title h1 {
    font-family: Centre Gothics, sans-serif;
    font-size: 3rem;
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    color: white;
}

.sec-3__up--title img {
    width: 365px;
    height: 290px;
    float: right;
    transform: skew(-10deg);
}

.sec-3__down--title {
    display: block;
}

.sec-3__down--title h1 {
    font-family: Centre Gothics, sans-serif;
    font-size: 3rem;
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    color: white;
}

@media (min-width: 70.4rem) {
    #sec-3 {
        width: 100%;
        height: 357px;
        flex-direction: row;
    } 
    #sec-3 p {
        display: block;
    }

    .sec-3__down--title {
        display: none;
    }

    .sec-3__up--title {
        display: none;
    }

    .sec-3__about--title {
        display: none;
    }
}

#sec-4 {
    width: 1125px;
    height: 1665px;
    background: rgba(201, 167, 109, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.title__gallery h2{
    font-family: Centre Gothics, sans-serif; 
    font-size: 4.5rem;
    color: #6f6c71;
}

.title__gallery hr {
    display: none;
    background: #b6ad9e;
    border: 1px solid #b6ad9e;
    width: 1200px;
}

.gallery {
    display: none;
    align-items: center;
    justify-content: center;
}

.gallery img {
    margin: 0 0.5rem;
}

.gallery__img {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-1 {
    width: 156px;
    height: 156px;
}

#img-2 {
    width: 215px;
    height: 215px;
}

#img-3 {
    width: 435px;
    height: 285px;
    border: 10px solid #56535a;
}

#img-4 {
    width: 215px;
    height: 215px;
}

#img-5 {
    width: 156px;
    height: 156px;
}

#line-gallery__left {
    width: 36px;
    height: 57px;
    margin: 0 2rem;
    cursor: pointer;
}

#line-gallery__right {
    width: 36px;
    height: 57px;
    margin: 0 2rem;
    cursor: pointer;
}

.line__left {
    transform: rotate(180deg);
    position: relative;
    display: block;
}

.mobile__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile__gallery--items {
    list-style: none;
    padding: 0;
}

.mobile__gallery--item img {
    margin: 1rem;
}

#img-1--2 {
    width: 700px;
    height: 470px;
}

#img-2--2 {
    width: 185px;
    height: 185px;
}

#img-3--2 {
    width: 185px;
    height: 185px;
}

#img-4--2 {
    width: 244px;
    height: 244px;
}

#img-5--2 {
    width: 244px;
    height: 244px;
}

#img-6--2 {
    width: 185px;
    height: 185px;
}

#img-7--2 {
    width: 185px;
    height: 185px;
}

@media (min-width: 70.4rem) {
    #sec-4 {
        width: 100%;
        height: 785px;
        background: url("images/sec-4.jpg");
        justify-content: space-evenly;
    }

    .gallery {
        display: block;
    }

    .title__gallery hr {
        display: block;
    }

    .title__gallery h2{
        color: #c69d4a;
        font-size: 1.5rem;
    }

    .mobile__gallery {
        display: none;
    }
}

#footer {
    width: 1125px;
    height: 1405px;
    background: radial-gradient(rgba(54, 52, 56, 0.6), rgba(54, 52, 56, 0.6)), url("images/timo-wagner-fT6-YkB0nfg-unsplash.jpg") left 10% bottom 15% / cover no-repeat border-box;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__up--title {
    color: #8c6f30; 
    font-family: Centre Gothics, sans-serif;
    font-size: 4.5rem;
}

.footer__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__items button {
    width: 790px;
    height: 105px;
    background: #3c3c3e;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: Centre Gothics, sans-serif;
    font-size: 4rem;
}   

.footer__items input {
    margin-right: 0;
    margin-bottom: 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 4rem;
    width: 790px;
    height: 105px;
    padding: 1rem;
}

.footer__items button:focus,
.footer__items input:focus {
    outline: none;
}

@media (min-width: 70.4rem) {
    #footer {
        width: 100%;
        height: 641px;
        background: radial-gradient(rgba(54, 52, 56, 0.6), rgba(54, 52, 56, 0.6)), url("images/timo-wagner-fT6-YkB0nfg-unsplash.jpg") left 10% bottom 15% / cover no-repeat border-box;
    }

    .footer__items {
        width: 1195px;
        height: 360px;
        background: white;
        border-radius: 1rem;
    }

    .footer__items button {
        width: 710px;
        height: 50px;
        background: #c69d4a;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-family: Centre Gothics, sans-serif;
        font-size: 1.1rem;
    }

    .footer__items input {
        width: 710px;
        height: 50px;
        margin-right: 0;
        border: 1px solid black;
        margin-bottom: 0.5rem;
        border-radius: 0;
        font-size: 1rem;
        padding: 0;
    }

    .footer__up--title {
        color: white;
        font-size: 1.5rem;
    }
}

