* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.backdrop {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: #38363a;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.menu__item {
    margin-top: 3rem;
}

.menu__item a {
    color: #c69d4a;
    text-decoration: none;
    font-family: Centre Gothics, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.button__up a {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 5%;
    right: 3%;
    background: white;
    border: 1px solid #38363a;
    border-radius: 2rem;
    padding: 0.2rem;
    z-index: 10;
    transform: rotate(-90deg);
}

@media (min-width: 70.4rem) {
    .button__up a {
        display: flex;
    }
}

.open {
    display: flex !important;
    opacity: 1 !important;
    transform: translateX(0%) !important;
}

.left__img2 {
    width: 156px !important;
    height: 156px !important;
    transform: translateX(-172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease !important;
}


.left__img3 {
    width: 215px !important;
    height: 215px !important;
    transform: translateX(-172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease !important;
    border: none !important;
}


.left__img4 {
    width: 435px !important;
    height: 285px !important;
    border: 10px solid #56535a;
    transform: translateX(-172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease !important;
}


.left__img5 {
    width: 215px !important;
    height: 215px !important;
    transform: translateX(-172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease !important;
}

 .left__img3-2 {
    width: 156px !important;
    height: 156px !important;
    transform: translateX(-344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
    border: none !important;
}


.left__img4-2 {
    width: 215px !important;
    height: 215px !important;
    border: none !important;
    transform: translateX(-344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}


.left__img5-2 {
    width: 435px !important;
    height: 285px !important;
    border: 10px solid #56535a;
    transform: translateX(-344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}

.right__img4-2 {
    width: 215px !important;
    height: 215px !important;
    border: none !important;
    transform: translateX(-344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}


.right__img5-2 {
    width: 435px !important;
    height: 285px !important;
    border: 10px solid #56535a;
    transform: translateX(-344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}

.right__img1 {
    width: 215px !important;
    height: 215px !important;
    transform: translateX(172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}

.right__img2 {
    width: 435px !important;
    height: 285px !important;
    border: 10px solid #56535a;
    transform: translateX(172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}


.right__img3 {
    width: 215px !important;
    height: 215px !important;
    transform: translateX(172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
    border: none !important;
}


.right__img4 {
    width: 156px !important;
    height: 156px !important;
    transform: translateX(172px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}

.right__img1-2 {
    width: 435px !important;
    height: 285px !important;
    border: 10px solid #56535a;
    transform: translateX(344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
}

.right__img2-2 {
    width: 215px !important;
    height: 215px !important;
    transform: translateX(344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
    border: none;
}


.right__img3-2 {
    width: 156px !important;
    height: 156px !important;
    transform: translateX(344px);
    transition: transform 0.5s ease,
                width 0.5s ease,
                height 0.5s ease;
    border: none !important;
}

.openbutton {
    display: block !important;
}


